$accentColor = #1abc9c
$textColor = #2f3640
$borderColor = #eaecef
$codeBgColor = #282c34 // 代码背景颜色
html
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif !important
::-webkit-scrollbar
  width: 10px
  height: 10px
  border-radius: 10px
  background-color: #F5F5F5
/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
  background-color: #F5F5F5
/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
  border-radius: 10px
  /* 线性渐变 */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.86, #1abc9c),
    color-stop(0.86, #1abc9c),
    color-stop(0.86, #1abc9c)
  )
  transition: 0.3s ease-in-out
/* 定义滑块悬浮样式 */
::-webkit-scrollbar-thumb:hover
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.86, #1abc9c),
    color-stop(0.86, #1abc9c),
    color-stop(0.86, #1abc9c)
  )
  transition: 0.3s ease-in-out
.site-name
  color: #1abc9c !important
  &:hover
    color: #16a085 !important
.sidebar-link
  display: flex !important
  width: auto !important
  font-weight: 480 !important
  margin-left: 0.75rem !important
  padding: 0.25rem 0.75rem !important
  margin-top: 0.25rem !important
.sidebar-link.active
  border-left-width: 4px !important
  border-color: #1abc9c !important
  border-radius: 0.25rem !important
a.sidebar-link.active
  font-weight: 600 !important
.getting-started .outbound, .nav-links .outbound
  display: none !important
.getting-started a img
  margin-right: 8px !important
.getting-started a img.no-margin
  margin-right: 0px !important
// global
p code
  color: #476582
  padding: 0.25rem 0.5rem
  margin: 0
  font-size: 0.85em
  background-color: rgba(27, 31, 35, 0.05)
  border-radius: 3px
blockquote
  font-size: 15px !important
  color: #858585 !important
  border-left: 0.25rem solid #e96900 !important
  font-weight: 1000 !important
pre
  font-size: 17px !important
